{
  "branches": [
    {
      "name": "stable"
    },
    {
      "name": "dev",
      "channel": "dev",
      "prerelease": "pre"
    }
  ],
  "repositoryUrl": "https://github.com/blazingworks/reggy.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github",
    "semantic-release-license",
    [
      "@semantic-release/git",
      {
        "assets": [
          "LICENSE",
          "package.json"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
